.panel-region .label {
<<<<<<< HEAD
    -fx-text-fill: Brown;
=======
    -fx-text-fill: Yellow;
>>>>>>> origin/ZH_m2
  }
  
  .label {
    -fx-text-fill: black;
  }
  
  .slider .axis {
      -fx-tick-label-fill: white;
  }
  
  .range-slider .axis {
      -fx-tick-label-fill: white;
  }
  
  .panel-region .check-box {
     -fx-text-fill: white;
  }
  
  .panel-region .radio-button {
     -fx-text-fill: white;
  }
  
  .color-picker .color-picker-label {
     -fx-text-fill: black;
  }

